body{
  text-align: center;
}

.hidden{
  display: none;
}
#total-line {
  fill: none;
  stroke: steelblue;
  stroke-width: 3px;
}

textarea{
	width: 80%;
	height: 200px;
	border: solid 1px steelblue;
	padding: 5px;
  margin: 10px;
  resize: none;
}

div{
  margin: 20px;
}

button{
  padding: 5px;
  background: transparent;
  border: solid 1px gray;
}

#word-span{
  text-transform: uppercase;
  color: gray;
  font-size: 11px;
}

#scale-span{
  text-transform: uppercase;
  color: gray;
  font-size: 11px;
}

#total-label{
  color: steelblue;
}

#me-line{
  fill: none;
  stroke: pink;
  stroke-width: 2px;
}

#me-label{
  color: pink;
}

#them-line{
  fill: none;
  stroke: purple;
  stroke-width: 2px;
}

#them-label{
  color: purple;
}
