body{
  text-align: center;
}

.hidden{
  display: none;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

textarea{
	width: 80%;
	height: 200px;
	border: solid 1px steelblue;
	padding: 5px;
  margin: 10px;
  resize: none;
}

div{
  margin: 20px;
}
