body{
  text-align: center;
}

.hidden{
  display: none;
}
#total-line {
  fill: none;
  stroke: steelblue;
  stroke-width: 3px;
}
circle:hover{
  fill:black;
}
#chats-input{
	width: 80%;
	height: 200px;

	padding: 5px;
  margin: 10px;
  resize: none;
}

div{
  margin: 20px;
}

button{
  padding: 5px;
  background: transparent;
  border: solid 1px gray;
}

#matches{
  height: 500px;
}

#word-span{
  text-transform: uppercase;
  color: gray;
  font-size: 11px;
}

#scale-span{
  text-transform: uppercase;
  color: gray;
  font-size: 11px;
}

#total-label{
  color: steelblue;
}

#me-line{
  fill: none;
  stroke: pink;
  stroke-width: 2px;
}

#me-label{
  color: pink;
}

#them-line{
  fill: none;
  stroke: purple;
  stroke-width: 2px;
}

#them-label{
  color: purple;
}

#error-msg{
  color: red;
}

.sender{
  text-decoration: uppercase;
  font-size: 11px;
}

.me{
  color: pink;
}

.them{
  color: purple;
}

.date{
  color: gray;
  font-size: 11px;
}

.error{
  border: solid 1px red;
}
